<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <style>
    body {
      text-align:center;
    }
    div.container {
      width:400px;
      margin: 0 auto;
    }
    .hidden {
      display:none;
    }


:root {
  --accent-color: #89fff5;
  --tint-color: #f0f7fa;
}

::selection{
  background:rgba(0,0,0,0.08);
}


html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--tint-color);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #555;
  line-height: 1.7;
  border-top: solid 6px var(--accent-color);
  background-color: #fff;
}


li {
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.tint {
  background-color: var(--tint-color);
}

h1, h2, h3 {
  margin:0;
  padding: 1rem 0 0;
  line-height: 1.2;
  color: #000;
}
h1 {
  font-size: 3rem;
}

a:link,
a:visited {
  color: #000;
  text-decoration: none;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-bottom-color: var(--accent-color);
}
a:hover,
a:focus {
  background-color: var(--accent-color);
}



  </style>
</head>
<body>
  <header>
    <a href="/">Home</a> | <a href="/about">About this page</a>
  </header>
  {{ content | safe }}
</body>
</html>

