---
title: About this page for you
layout: base.njk
---

<div class="container">
  <h1>News is localised for you in your country</h1>
  <p>This little site was made for you using HTML, CSS and JavaScript. Pregerneated, then enhanced with client-side JavaScript</p>
</div>


{% for item in news %}
  <a href="/{{ item.country}}">{{ item.country }}</a>
{%  endfor %}



